@import './component_mov_card';
@import './component_mov_card_desc';

.movies-container{
    .bg-back{
        width: 100%;
        height: 100%;
        position: fixed;
        img{
            opacity: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
            transition: all 0.4s ease-in-out 0.1s;
            filter: blur(10px);
            -webkit-filter: blur(10px);
            &.show{
                opacity: 1;
            }
        }
    }
    .movies-content{
        width: 100%;
        // max-width: 1920px;
        margin: auto;
        position: relative; 
    }
    
}
