.transaction-history-container{
    height: 85vh;
    width: 100%;
    .transaction-history-wrapper{
        padding: 0px 5%;
        height: 100%;
        margin: 7.5vh 0px;
        overflow-y: auto;
        .movie-manager{
            .title1{
                @include flex(row, space-between, flex-end);
                width: 100%;
                h1{
                    padding: 50px 0px 15px 0px;
                    font-weight: 300;
                    color:cyan;
                }
                svg{
                    color: cyan;
                    margin-bottom: 15px;
                    font-size: 2.4rem;
                }
            }
            .table-content{
                background-color: white;
                @include flex(column, center, center);
                table{
                    color: $colorDark;
                    text-align: center;
                    th, td {
                        font-size: 0.8rem;
                        text-align: center;
                    }
                    tbody{
                        .movie-img{
                            height: 100px;
                        }
                        .option-container{
                            button{
                                width: 100%;
                            }
                        }
                        tr{
                            transition: all 0.4s ease-in-out;
                            &:hover{
                                transform: scale(1.01);
                                background-color: $colorLight;
                                box-shadow: 0px 0px 10px rgb(34, 34, 34);
                                box-shadow: 0px 0px 50px rgba(34, 34, 34, 0.4);
                            }
                            td{
                                .ticket-item{
                                    min-width: 75%;
                                    height: 65px;
                                    padding: 0px;
                                    margin: 2px;
                                    font-size: 0.7rem;
                                    position: relative;
                                    span{
                                        @include flex(row, space-between, space-between);
                                        height: inherit;
                                        font-size: 0.7rem;
                                        border-radius: 4px !important;
                                        box-shadow: 0px 0px 15px rgba(34, 34, 34, 0.15);
                                        .info{
                                            @include flex(column, center, flex-start);
                                            height: 100%;
                                            padding-left: 20px;
                                        }
                                        .seats{
                                            width: 40%;
                                            height: 100%;
                                            background-color: $colorOne;
                                            color: $colorLight;
                                            border-bottom-right-radius: 4px;
                                            border-top-right-radius: 4px;
                                            @include flex(row, center, center);
                                            flex-wrap: wrap;
                                            div{
                                                padding: 0px 5px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}