@mixin flex($direction,$justifyContent,$alignItems) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justifyContent;
    align-items: $alignItems;
}

$colorDark: #222;
$colorLight: white;
$colorOne: rgb(0, 180, 180);
$colorTwo: cyan;